* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: monospace;
	color: white;
	font-size: 32px;
}
.wrapper {

	width: 800px;
	margin: 0 auto;
	background-color: brown;
}
header {
height: 100px;
background-color: orange;
}
footer {
	height: 100px;
	background-color: gold;
}
aside {
float: right;
background-color: brown;
width: 200px;
height: 3293px;
}

main {
	float: left;
	background-color: brown;
}

.content  {
	background-color: green;
	margin-left: 200px;
	width: 600px;
	min-height: 200px;

}